.nav{
	width:1100px;
	margin-top:50px;
	border-radius:8px;
	margin-left:auto;
	margin-right:auto;
	height:50px;
	top:0px;
	left:0px;
	background:rgb(152, 160, 255);
}
.nav>div{
	float:left;
	width:120px;
	height:50px;
}
.nav>div>a{
	color:white;
	display:block;
	width:120px;
	height:36;
	padding-top:14px;
	text-decoration:none;
	font-size:20px;
	text-align:center;
	cursor:pointer;
}

.navDivlastChildA{
	
}
.nav>div>a:hover{
	background:rgb(101, 101, 172);
	border-radius:8px;
}
.selectedMenu{
	background:rgb(101, 101, 172);
	border-radius:8px;
}
.fl{
	float:left;
}
#loginInfo{
	width:480px !important;
	float:right;
}

.mt5{
	margin-top:5px;
}
.link{
	cursor:pointer;
	text-decoration:none;
	color:blue;
}
.textw{
	color:white;
}
.regText{
	position:relative;
}
.regText>a{
	position:absolute;
	top:31px;
	left:10px;
	
}