/* Importing CSS styles
---------------------------------------------------------------------------------------------------*/
@import url("reset.css");
@import url("const.css");
@import url("icon.css");
@import url("notifications.css");
@import url("popup.css");
@import url("addForm.css");
@import url("jqtransform.css");
@import url("objectStyle.css");
@import url("menu.css");
@import url("formElementStyles.css");
/* Header
---------------------------------------------------------------------------------------------------*/
.page_wrapper{
	position:relative;
	height:90px;
	width:100%;
}
form td label{
    color:royalblue;
}
.tableTitle{
    display:block;
    width:350px;
    background:rgb(152, 160, 255);
    color:white;
    height:25px;
    padding-top:10px;
}
.editBorders{
	border:1px solid rgb(152, 160, 255);
}
/* Panel
---------------------------------------------------------------------------------------------------*/
.registr{
	font-size:10px;
}
.panel{
    position: relative;
	margin-top: 10px;
	border-radius:5;
    width:100%;
}
tr[name=FillRateZoneClick] td
{
    cursor:pointer; 
}
body{
	background : rgb(243, 243, 243);
}
.lefthead{
	margin-top: 10px;
	background:rgba(185, 185, 185, 0.48);
	width:150px;
	height:auto;
	float:left;
	border-radius:5;
	padding-bottom:15px;
}
.forFInd{
	display:none;
}

/* Float
---------------------------------------------------------------------------------------------------*/
.fl{
    float:left !important;
}
.fr{
    float:right !important;
}
.cl{
    clear:both !important;
}
/* Custom classes 
---------------------------------------------------------------------------------------------------*/
.center {
    text-align: center;
}
.hide{
    display: none;
}
.show{
    display: block ;
}
.border{
    border: 1px solid #888;
}
/* Errors classes 
---------------------------------------------------------------------------------------------------*/
.error-message{
    color: red;
    font-size:12px;
    margin-top: 4px;
    min-width: 200px;
}
.error{
    border:1px solid red;    
}

.scroll .error-message {
    width: 198px;
}
.edit_name{
    font-size: 16px;
    color: #999999;
    line-height:40px;
    display: inline-block;
}

/*links
-----------------------------------*/

.link:hover{
    color: #386B00;
    text-decoration:none;
    cursor:pointer;
}


